.body {
  font-family: 'Raleway', sans-serif;
  overflow: scroll;
  font-size: 16rem;
  font-weight: 400;
  line-height: 1.3;
  color: #222;
}

.p {
  padding: 5px;
  font-size: 17rem;
}

.description-title {
  padding-top: 5%;
  font-size: 16rem;
  font-weight: 800;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20.2px;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 4px 2px #1d1d1d1c;
}

.rating {
  display: flex;
  padding-top: 2%;
}

/* header styles */
.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.5%;
}

.header__layout {
  display: flex;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.hero-banner {
  display: flex;
  flex-direction: column;
  padding: 0 2.5%;
}

.hero-banner__title {
  font-weight: 700;
  font-size: 33rem;
}

.hero-banner__paragraph {
  padding: 1% 0.5%;
}

/* navigation styles */
.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42%;
  gap: 20%;
}

.navigation__link {
  cursor: pointer;
  pointer-events: auto;
  padding: 10px;
  justify-content: center;
}

.navigation__link_hover:hover {
  border-top: #0065fc solid 3px;
  border-radius: 12px;
  color: #0065fc;
}

.navigation__link_hover {
  pointer-events: none;
  display: flex;
  align-items: center;
  height: 100%;
  border-top: transparent solid 3px;
  transition-duration: 0.5s;
}

/* research styles */
.research-section {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
}

.search-bar {
  width: max-content;
  display: flex;
  position: relative;
  align-items: center;
  margin: 20px 0;
  border: solid 1px #f2f2f2;
  border-radius: 50px;
}

.search-bar__btn {
  background-color: #0065fc;
  color: white;
  padding: 20px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-style: none;
  font-size: 14rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.search-bar__input {
  caret-color: #0065fc;
  font-weight: 500;
  font-size: 21rem;
  padding: 14px;
  outline: none;
}

.icon {
  border-style: none;
  border-radius: 50px;
  padding: 15px;
  background-color: #f2f2f2;
  text-align: center;
  color: #0065fc;
}

.fa-location-dot {
  width: 19px;
  height: 19px;
  padding: 19px;
}

/* filters styles */
.filters-section {
  display: flex;
  align-items: baseline;
  border-color: #f2f2f2;
  border-radius: 39px;
  gap: 2%;
  padding: 25px 0;
}

.filters-section__title {
  font-weight: 500;
  font-size: 21rem;
}

.filters-section_layout {
  display: flex;
  align-items: center;
  gap: 5%;
}

.filters-section__btn {
  white-space: nowrap;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  padding-right: 14px;
  border-color: #f2f2f2;
  border-radius: 45px;
  font-weight: bold;
}

.filters-section__btn:hover {
  color: #0065fc;
  border-color: #0065fc;
  transition-duration: 1s;
}

.fa-wallet,
.fa-heart,
.fa-child,
.fa-dog {
  padding: 14px;
  font-size: 20rem;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  -webkit-transition: all 0s;
}

.family-btn:hover .fa-child,
.economic-btn:hover .fa-wallet,
.lovers-btn:hover .fa-heart,
.pets-btn:hover .fa-dog {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

.filters-section__tag {
  padding-left: 5px;
  font-size: 16rem;
}

/* info styles */
.info {
  display: flex;
  align-items: center;
  padding: 2% 0;
}

.fa-info {
  width: 13px;
  font-size: 13rem;
  padding: 6px;
}

/* main styles */
.main {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: auto;
  padding: 0 2.5%;
}

/* accomodation-section styles */
.accomodation-section {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 21px;
  padding: 3%;
  grid-column-start: 1;
  grid-column-end: 15;
}

.title {
  cursor: pointer;
  width: fit-content;
  font-size: 20rem;
  font-weight: 700;
  white-space: nowrap;
}

.accomodation-section__list {
  display: flex;
  gap: 2%;
  padding-top: 2%;
}

.hotel-card {
  padding: 0.8%;
}

.hotel-card__photo {
  width: 100%;
  height: 150px;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  object-fit: cover;
}

.hotel-card__cartel {
  padding: 5%;
}

.hotel-card__price {
  padding-top: 0.7%;
  font-size: 15rem;
}

.more {
  cursor: pointer;
  font-weight: bold;
  padding-top: 2%;
}

/* popular-section styles */
.popular-section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10%;
  gap: 3%;
  background-color: #f2f2f2;
  border-radius: 21px;
  grid-column-start: 16;
  grid-column-end: 21;
}

.popular-section__header {
  display: flex;
  flex-direction: column;
}

.popular-section__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6%;
  height: 100%;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  background-color: #f2f2f2;
}

.popular-card {
  padding: 2%;
}

.popular-card__link {
  display: flex;
  width: 100%;
  height: 100%;
}

.popular-card__photo {
  width: 40%;
  height: 100%;
  border-bottom-left-radius: 17px;
  border-top-left-radius: 17px;
  object-fit: cover;
}

.popular-card__cartel {
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.popular-card__cartel-layout {
  display: flex;
  flex-direction: column;
  padding-bottom: 13%;
}

.chart-icon {
  position: absolute;
  top: 11px;
  right: 17px;
  width: 19px;
  object-fit: cover;
}

.fa-star {
  background-color: white;
  padding: 0;
}

/* activity-section styles*/
.activity-session {
  display: flex;
  flex-direction: column;
  padding: 2% 0;
  grid-column-start: 1;
  grid-column-end: 21;
}

.activity-session__title {
  padding-bottom: 2%;
  padding-left: 2%;
}

.activity-card__link {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 100%;
}

.activities__list {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(11, 60px);
  column-gap: 1%;
}

.activity-card__photo-container {
  position: relative;
  height: 100%;
}

.activity-card__title {
  padding: 3% 0 0 7%;
}

.activity-card:hover {
  transform: scale(0.9);
}

.activity-card__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  object-fit: cover;
}

.activity-card1 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 11;
}

.activity-card2 {
  grid-column-start: 8;
  grid-row-start: 1;
  grid-column-end: 15;
  grid-row-end: 6;
}

.activity-card3 {
  grid-column-start: 8;
  grid-column-end: 15;
  grid-row-start: 7;
  grid-row-end: 11;
}

.activity-card4 {
  grid-column-start: 15;
  grid-column-end: 22;
  grid-row-start: 1;
  grid-row-end: 11;
}

.activity-card5 {
  grid-column-start: 22;
  grid-column-end: 31;
  grid-row-start: 1;
  grid-row-end: 5;
}

.activity-card6 {
  grid-column-start: 22;
  grid-column-end: 31;
  grid-row-start: 6;
  grid-row-end: 11;
}

/* footer style */
.footer {
  display: flex;
  justify-content: flex-start;
  background-color: #f2f2f2;
  margin-top: 6%;
  padding: 4% 2%;
  gap: 10%;
}

.footer__link {
  display: flex;
  flex-direction: column;
}

/* Responsive for tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .header {
    justify-content: space-around;
  }

  .hero-banner {
    align-items: center;
  }

  .hero-banner__title {
    text-align: center;
  }

  .research-section {
    padding: 3% 0;
    align-items: center;
  }

  .filters-section {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .filters-section_layout {
    gap: 1%;
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .accomodation {
    height: auto;
    width: 90%;
    margin: 1% 2.5%;
    padding: 3% 0% 2% 0;
  }

  .accomodation-section__list {
    justify-content: center;
  }

  .popular-section {
    height: auto;
    padding: 3%;
  }

  .popular-section__list {
    flex-direction: row;
    padding-top: 3%;
  }

  .popular-card {
    padding: 1%;
  }

  .popular-card__photo {
    height: 100%;
  }

  .more {
    text-align: center;
    padding-top: 4%;
  }

  .activity-card1 {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 11;
    grid-row-end: 6;
  }

  .activity-card2 {
    grid-column-start: 11;
    grid-row-start: 1;
    grid-column-end: 21;
    grid-row-end: 6;
  }

  .activity-card3 {
    grid-column-start: 21;
    grid-row-start: 1;
    grid-column-end: 31;
    grid-row-end: 6;
  }

  .activity-card4 {
    grid-column-start: 1;
    grid-row-start: 7;
    grid-column-end: 11;
    grid-row-end: 12;
  }

  .activity-card5 {
    grid-column-start: 11;
    grid-row-start: 7;
    grid-column-end: 21;
    grid-row-end: 12;
  }

  .activity-card6 {
    grid-column-start: 21;
    grid-row-start: 7;
    grid-column-end: 31;
    grid-row-end: 12;
  }

  .footer {
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .info {
    font-size: 70%;
    align-items: baseline;
  }

  .navigation {
    width: 100%;
    justify-content: space-around;
  }

  .title {
    font-size: 17rem;
    padding-top: 5%;
  }

  .header {
    padding: 2.5%;
  }

  .header__layout {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin: 4%;
    font-size: 3%;
  }

  .navigation__link {
    font-size: 17rem;
  }

  .navigation__link_hover:hover {
    background-color: #0065fc;
    color: #ffffff;
    border: #0065fc solid 1px;
    transition-duration: 0.5s;
  }

  .navigation__link_hover {
    border: transparent solid 1px;
    border-radius: 2px;
  }

  .hero-banner {
    text-align: center;
  }

  .hero-banner__title {
    padding-top: 5%;
  }

  .research-section {
    padding: 2.5%;
    align-items: center;
  }

  .search-bar {
    flex-direction: column;
    border: none;
    gap: 12px;
  }

  .search-bar__input-and-button-container {
    border: solid 1px #f2f2f2;
    border-radius: 12px;
  }

  .search-bar__input {
    font-size: 15rem;
    padding: 15px;
  }

  .search-bar__btn {
    padding: 17px;
    font-size: 12rem;
  }

  .partie_filtres {
    align-items: flex-start;
  }

  .filters-section {
    flex-direction: column;
    align-items: center;
  }

  .filters-section_layout {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0;
  }

  .filters-section__btn {
    margin: 2%;
  }
  .main {
    display: flex;
    flex-direction: column;
    padding: 3% 2.5%;
    gap: 50px;
  }

  .accomodation-section {
    gap: 25px;
    padding: 3% 7%;
  }

  .accomodation-section__header {
    display: flex;
    justify-content: center;
  }

  .accomodation-section__list {
    gap: 50px;
    flex-direction: column;
    padding-top: 0;
  }

  .hotel-card__photo {
    height: 200px;
  }

  .hotel-card__cartel {
    padding: 2%;
  }

  .description-title {
    padding-top: 1%;
  }

  .card:hover {
    transform: scale(1.02);
  }

  .popular-section {
    gap: 25px;
    padding: 3% 7%;
  }

  .popular-section__list {
    padding-bottom: 4%;
    gap: 50px;
  }

  .popular-section__header {
    align-items: center;
  }

  .popular-card {
    padding: 1%;
  }

  .popular-card__photo {
    height: 200px;
  }

  .popular-card__cartel-title {
    text-overflow: ellipsis;
    font-size: 1em;
    font-weight: 700;
  }

  .activity-session {
    padding: 3% 7%;
    gap: 25px;
  }

  .activity-session__header {
    display: flex;
    justify-content: center;
  }

  .activities__list {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .activity-card__photo {
    height: 200px;
    position: relative;
  }

  .activity-card__cartel {
    padding-bottom: 2%;
  }

  .footer {
    flex-direction: column;
    gap: 50px;
  }
}
